

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "GTWalsheimPro", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 959.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #1b293f;
$mainColor: #2285c3;
$hover: #43a3e0;
$mainColor2: #1eadaf;
$hover2: #28cacd;
$mainColor3: #1b293f;
