.hero {
    position: relative;
    background: linear-gradient(90deg, #1f2f51 30%, #203c6c 70%);
    @media (max-width: 575.98px) {
        display: flex;
        flex-direction: column-reverse;
        background: linear-gradient(0deg, #1f2f51 30%, #1f4581 70%);
    }

    & .breadcrumbs {
        position: relative;
        z-index: 2;

        @media (max-width: 575.98px) {
            display: none;
        }
    }

    &.hero--conveyance {
        & .hero__body {
            @media (max-width: $md1+px) {
                min-height: 292px;   
            }
        }

        & .hero__title {
            margin-left: 0;

            @media (max-width: $md1+px) {
                margin-top: 70px;
            }

            @media (max-width: $md3+px) {
                margin-top: 51px;
            }
        }

        & .hero__bg img {
            @media (max-width: $md1+px) {
                transform: translateX(1%);
            }
            @media (max-width: $md3+px) {
                transform: translateX(-18%);
            }
        }

        @media (max-width: 575.98px) {
            & .hero__bg {
                position: absolute;
                height: 100%;

                & img {
                    transform: translateX(-60%);
                }
            }

            & .hero__body  {
                min-height: 484px;
                padding-bottom: 57px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                & .btn-default {
                    display: inline-flex;
                }
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: right;

        @media (max-width: $md1+px) {
            text-align: center;
        }

        & img {
            display: inline-block;
            height: 100%;

            @media (max-width: $md1+px) {
                transform: translateX(-4%);
            }

            @media (max-width: $md3+px) {
                transform: translateX(-21%);
            }
        }

        @media (max-width: 575.98px) {
            position: relative;
            height: 344px;
            & img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-65%);
            }
        }
    }

    &__body {
        min-height: 52.3rem;
        position: relative;
        z-index: 2;
        color: #fff;
        padding-top: 1px;

        @media (max-width: $md3+px) {
            min-height: 335px;
        }

        @media (max-width: 575.98px) {
            min-height: auto;
            & .breadcrumbs, & .btn-default {
                display: none;
            }
        }
    }

    &__text-wrap {
        width: 70%;
        padding-bottom: 4rem;

        @media (max-width: 575.98px) {
            text-align: center;
            width: auto;
            padding-bottom: 0;
        }
    }

    &__title {
        margin-top: 6.8rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.1148em;
        max-width: 50.4rem;
        margin-bottom: 3rem;
        margin-left: 7.7rem;

        @media (max-width: $md1+px) {
            font-size: 26px;
        }

        @media (max-width: $md3+px) {
            margin-top: 31px;
            margin-bottom: 20px;
            font-size: 26px;
        }

        @media (max-width: 575.98px) {
            margin-left: 0;
            margin-top: 64px;
        }
    }

    &__btn-group {
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column;
        }

  

        & > * {
            margin-bottom: 10px;
            align-self: flex-start;

            @media (max-width: 575.98px) {
                align-self: center;
            }

            &:not(:last-child) {
                @media (min-width: 768px) {
                    margin-right: 10px;
                }
            }

            @media (max-width: $md3+px) {
                min-width: 195px;
            }
        }
    }
}

.breadcrumbs {
    padding-top: 2.7rem;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
    color: #fff;
    //margin-bottom: 3.9rem;
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $md1+px) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: $md4+px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: $md3+px) {
        padding-top: 19px;
       // margin-bottom: 24px;
        font-size: 13px;
    }

    &__label {
        margin-right: 1.3rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        & > li {
            &:not(:last-child) {
                margin-right: 1.3rem;
            }

            & a {
                color: #fff;
                transition: all 0.3s ease;

                &:before {
                    content: ">";
                    color: $mainColor;
                    margin-right: 2px;
                }

                @media (min-width: 960px) {
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
