.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 48;
    transition: all 0.4s ease;

    &.is-scroll, &.bg {
        background-color: #1e2f51;
    }

    &.menu-open {
        & .header__body {
            color: $textColor;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        padding-right: 65px;
        color: #fff;

        @media (max-width: $md1+px) {
            padding-right: 40px;
        }

        @media (max-width: $md4+px) {
            padding-right: 20px;
        }

        @media (max-width: $md4+px) {
            display: grid;
            grid-template-columns: 182px 1fr;
        }
    }

    &__logo {
        width: 100%;
        max-width: 307px;
        margin-right: 97px;

        @media (max-width: 1330px) {
            margin-right: 32px;
        }

        @media (max-width: $md1+px) {
            max-width: 210px;
        }

        @media (max-width: $md4+px) {
            max-width: 186px;
            margin-left: -11px;
            margin-right: 20px;

            grid-row: span 2;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__menu {
        margin-right: 57px;
    }

    &__phone {
        margin-left: auto;
        display: flex;
        align-items: center;
        color: inherit;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2em;
        white-space: nowrap;
        transition: all .3s ease;

        @media (min-width: 960px) {
            margin-bottom: 3px;
        }

        @media (max-width: $md1+px) {
            font-size: 14px;
        }

        @media (max-width: $md4+px) {
            align-self: flex-end;
        }

        & svg,
        & img {
            width: 16px;
            height: auto;
            margin-right: 5px;
        }

        & svg {
            & path {
                fill: $mainColor;
                transition: all 0.3s ease;
            }
        }

        @media (min-width: 960px) {
            &:hover {
                & svg {
                    & path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    &__burger {
        margin-left: 22px;
        width: 19px;
        height: auto;
        flex: 0 0 auto;

        @media (min-width: 960px) {
            display: none;
        }

        @media (max-width: $md4+px) {
            margin-left: auto;
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.menu {
    @media (max-width: $md2+px) {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: all 0.6s ease;
        overflow: hidden;
        color: $textColor;

        &.open {
            transform: translateX(-100%);
        }
    }

    &__head {
        @media (min-width: 960px) {
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 40px;
        position: relative;

        @media (max-width: $md4+px) {
            padding-right: 20px;
        }

 

        &:before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            height: 2px;
            width: calc(100% - 80px);
            transform: translateX(-50%);
            background-color: rgba($textColor, 0.5);

            @media (max-width: $md4+px) {
                width: calc(100% - 40px);
                bottom: -5px;
            }
        }
    }

    &__logo {
        max-width: 210px;
        width: 100%;

        @media (max-width: $md4+px) {
            max-width: 186px;
            margin-left: -11px;
            margin-right: 20px;
        }

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__close {
        @media (max-width: $md4+px) {
            transform: translateY(18px);
        }

        & span {
            position: relative;
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            display: block;
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                height: 100%;
                background-color: $textColor;
            }
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                background-color: $textColor;
            }
        }
    }

    &__scroll-wrap {
        @media (min-width: 960px) {
            height: auto !important;
        }
        @media (max-width: $md2+px) {
            padding: 60px 40px;
            overflow: auto;
        }
        @media (max-width: $md3+px) {
            padding: 50px 40px;
        }
        @media (max-width: $md4+px) {
            padding: 50px 25px;
        }
    }

    &__list {
        @media (min-width: 960px) {
            display: flex;
            align-items: center;
            padding-top: 10px;
        }

        & > li {
            &:not(:last-child) {
                margin-right: 39px;

                @media (max-width: $md1+px) {
                    margin-right: 26px;
                }

                @media (max-width: $md2+px) {
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
        }
    }

    &__link {
        position: relative;
        color: inherit;
        transition: all 0.3s ease;
        font-size: 16px;
        line-height: 1.2em;
        padding-top: 0.9375em;
        padding-bottom: 0.9375em;
        white-space: nowrap;

        @media (max-width: $md1+px) {
            font-size: 13px;
        }

        @media (max-width: $md2+px) {
            font-size: 18px;
        }

        & span {
            position: absolute;
            top: -0.1875em;
            left: 0;
            color: $mainColor;
            font-size: 0.625em;
        }

        &.current-menu-item {
            & span {
                color: $mainColor3;
            }
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0.375em;
            width: 0%;
            height: 2px;
            background-color: $mainColor;
            transition: all 0.3s ease;
        }

        @media (min-width: 960px) {
            &:hover:not(.current-menu-item) {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.calculators {
    padding: 14.7rem 0;

    @media (max-width: $md3+px) {
        padding: 50px 0 80px; 
    }

    &__body {
        @media (max-width: $md4+px) {
            &.container-sm {
                padding-left: 40px;
                padding-right: 40px;

            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 6.1rem;

        @media (max-width: $md3+px) {
            margin-bottom: 34px;
        }
    }

    &__subtitle {
        text-align: center;
        max-width: 70rem;
        margin: 0 auto 7.3rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7.5px;

        @media (min-width: 1268px) {
            justify-content: center;
        }
        

        @media (max-width: $md3+px) {
            margin-bottom: 35px;
        }

        & > li {
            flex: 0 1 25%;
            padding: 0 7.5px;
            margin-bottom: 6rem;

            @media (max-width: $md3+px) {
                flex: 0 1 50%;
                max-width: 189px;
                margin-bottom: 15px;
            }

            @media (max-width: $md4+px) {
                flex: 0 1 100%;
            }

            &:nth-child(4n+2) {
                & .calculator-card {
                    & .calculator-card__btn {
                        background-color: $mainColor2;
                    }

                    & .calculator-card__title {
                        color: $mainColor2;
                    }

                    @media (min-width: 960px) {
                        &:hover {
                            & .calculator-card__btn {
                                background-color: $hover2;
                            }
                        }
                    }
                }
            }
            &:nth-child(4n+3) {
                & .calculator-card {
                    & .calculator-card__btn {
                        background-color: $mainColor3;
                    }

                    & .calculator-card__title {
                        color: $mainColor3;
                    }


                    @media (min-width: 960px) {
                        &:hover {
                            & .calculator-card__btn {
                                background-color: $hover3;
                            }
                        }
                    }
                }
            }
            &:nth-child(4n+4) {
                & .calculator-card {
                    & .calculator-card__btn {
                        background-color: $mainColor4;
                    }

                    & .calculator-card__title {
                        color: $mainColor4;
                    }


                    @media (min-width: 960px) {
                        &:hover {
                            & .calculator-card__btn {
                                background-color: $hover4;
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        text-align: center;

        & p {
            margin-bottom: 4.3rem;
        }

        & .btn-default {
            align-self: center;
        }
    }
}

.calculator-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #dcebf6;
    min-height: 375px;
    text-align: center;
    color: $textColor;
    background-color: #fff;

    @media (max-width: $md1+px) {
        min-height: 283px;
    }

    @media (min-width: 960px) {
        &:hover {
            & .calculator-card__icon {
                & img, & svg {
                    transform: scale(1.1);
                }
            }
            & .calculator-card__btn {
                background-color: $hover;
            }
        }
    }

    &__wrap {
        flex: 1 1 auto;
        padding: 3.8rem 2.5rem 3rem;
    }

    &__icon {
        border: 1px solid #dcebf6;
        width: 106px;
        height: 106px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin: 0 auto 34px;

        @media (max-width: $md1+px) {
            width: 75px;
            height: 75px;
        }

        & img,
        & svg {
            max-width: 100%;
            max-height: 40px;
            width: auto;
            height: auto;
            transition: all .3s ease;

            @media (max-width: $md1+px) {
                max-height: 30px;
            }
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.18em;
        color: $mainColor;
        margin-bottom: 1.6rem;

        @media (max-width: $md1+px) {
            font-size: 16px;
            max-width: 68%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.53em;

        @media (max-width: $md1+px) {
            font-size: 13px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 52px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2em;
        padding: 1.4rem 3rem;
        background-color: $mainColor;
        transition: all .3s ease;

        @media (max-width: $md1+px) {
            font-size: 13px;
            min-height: 44px;
        }
    }
}



.free-property {

    &__body {
        display: flex;

        @media (max-width: 575.98px) {
            flex-direction: column;
        }

        @media (max-width: $md4+px) {
            &.container-sm {
                padding-left: 40px;
                padding-right: 40px;

            }
        }
    }

    &__col-1 {
        flex: 1 1 auto;
        padding-right: 30px;
        // padding-top: 15.2rem;
        // padding-bottom: 11.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $md1+px) {
            display: block;
            padding-top: 64px;
            padding-bottom: 64px;
            min-height: 520px;
        }

        @media (max-width: $md3+px) {
            padding-top: 53px;
            padding-bottom: 84px;
            min-height: auto;
        }

        @media (max-width: 575.98px) {
            padding-top: 70px;
            padding-bottom: 81px;
            padding-right: 0;
        }
    }

    &__col-2 {
        flex: 0 0 48.69%;

        @media (max-width: 575.98px) {
            order: -1;
        }
    }

    &__text-wrap {
        max-width: 38.5rem;
        margin-left: 2.15rem;

        @media (max-width: $md1+px) {
            max-width: 302px;
            margin-left: 74px;
        }

        @media (max-width: $md3+px) {
            margin-left: 30px;
        }

        @media (max-width: 575.98px) {
            text-align: center;
            margin: 0 auto;
        }
    }

    &__title {
        margin-bottom: 3rem;
    }

    &__text {
        margin-bottom: 4.5rem;

        &.text-content {
            @media (max-width: $md4+px) {
                font-size: 15px;
                padding: 0 14px;
            }
        }
    }

    &__img {
        width: 45.2rem;
        height: 100%;
        padding-top: 11.7rem;
        padding-bottom: 11.7rem;
        position: relative;

        @media (max-width: $md1+px) {
            width: 295px;
        }

        @media (max-width: $md3+px) {
            width: 255px;
            padding-top: 83px;
        }

        @media (max-width: 575.98px) {
            width: 267px;
            margin: 0 auto;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0; 
            left: 15.3rem;
            height: 100%;
            width: 70vw;
            background-color: $mainColor;
            z-index: 1;
        }


        & img {
            width: 100%;
            display: block;
            position: relative;
            height: auto;
            z-index: 2;
        }
    }
}
